# Extract all link files from http://web.mta.info/developers/turnstile.html

In [ ]:
from bs4 import BeautifulSoup, SoupStrainer
import urllib.request as urllib2
from urllib.request import urlopen
import re
from os.path import exists,getsize
import os


files_to_download = []
html_page = urllib2.urlopen("http://web.mta.info/developers/turnstile.html")
soup = BeautifulSoup(html_page)
all_Data_Links = soup.findAll('a' ,attrs={'href': re.compile("^data")})
for link in all_Data_Links:
    print(link['href'].split("/"))
    fname = link['href'].split("/")[3]
    #check if file already exists or less than 20 Mega in size(partial file)
    path_to_file = "D:\\Proj\\1\\"+str(fname)
    if not exists(path_to_file) or getsize(path_to_file) <20*10**6:
        file = open(path_to_file,"wb")
        url = urllib2.urlopen('http://web.mta.info/developers/'+link['href'])
        for line in url:
            #print(type(line))
            file.write(line + b'\n')
        file.close()
    else:
        print("file "+fname+" skipped")
    # add each link to a list
    #files_to_download.append('http://web.mta.info/developers/'+link['href'])

In [3]:
import pandas as pd
def get_data(week_nums):
    #url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = week_num
        dfs.append(pd.read_csv("D:\\proj\\1\\"+week_num))
    return pd.concat(dfs)
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("D:\\Proj\\1") if isfile(join("D:\\Proj\\1", f))]
#week_nums = [160903, 160910, 160917]
turnstiles_df = get_data(onlyfiles)

In [6]:
turnstiles_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/11/2021,00:00:00,REGULAR,7633126,2611933
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/11/2021,04:00:00,REGULAR,7633141,2611934
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/11/2021,08:00:00,REGULAR,7633152,2611953
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/11/2021,12:00:00,REGULAR,7633203,2611997
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,09/11/2021,16:00:00,REGULAR,7633308,2612026

In [13]:
import urllib.request as urllib2

In [26]:
from os import listdir
from os.path import isfile, join
onlyfiles = [f for f in listdir("D:\\Proj\\1") if isfile(join("D:\\Proj\\1", f))]

In [27]:
onlyfiles

['turnstile_210710.txt',
 'turnstile_210717.txt',
 'turnstile_210724.txt',
 'turnstile_210731.txt',
 'turnstile_210807.txt',
 'turnstile_210814.txt',
 'turnstile_210821.txt',
 'turnstile_210828.txt',
 'turnstile_210904.txt',
 'turnstile_210911.txt',
 'turnstile_210918.txt']

In [29]:
import pyodbc
server = 'LAPTOP-88OFGUMN\SQLEXPRESS' 
database = 'T5_Proj1' 
username = 'sa' 
password = '102030' 
cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()
# Insert Dataframe into SQL Server:
#for index, row in df.iterrows():
cursor.execute("Insert into MTA (C_A) values ('')", )
cnxn.commit()
cursor.close()

In [31]:
import pandas as pd
df = pd.read_sql('select * from mta',cnxn)
df

,C_A,Unit,SCP,Station,LineName,Division,Date_Str,Time_Str,Description,Entries,Exits
0,,None,None,None,None,None,None,None,None,None,None