In [9]:
import pyodbc

## cloud db info
server = 't5.database.windows.net' 
database = 'T5' 
username = 'Dimitry2' 
password = 'A$102030' 

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [10]:
cursor.execute('select top(1) * from mta_raw')

In [11]:
cursor.execute('insert into mta_raw (c_a) values(?)',(1))

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]The INSERT permission was denied on the object 'mta_raw', database 'T5', schema 'dbo'. (229) (SQLExecDirectW)")